html, body {
    height:100%;
}

.navbar-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.navbar-right > li {
    float: left;
}

#content {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: -40px;
}

#footer {
    height: 40px;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
}

.github-btn {
    height: 20px;
    width: 102px;
    overflow: hidden;
    border: 0px none;
}

.copyright {
    position: absolute;
    right: 15px;
}

@media (max-width: 600px) {
    .copyright {
        display: none;
    }
}

.row {
    height: 100%;
}

[class*='col-'] {
    height: 100%;
}

a:hover, a:active, a:focus {
    text-decoration: none !important;
    outline: none !important;
}

[disabled] {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}

.highlight:not([disabled]):hover,
.highlight:not([disabled]):active,
.highlight:not([disabled]):focus {
    color: #FF8C00 !important;
    border-color: #FF8C00 !important;
}

.highlight {
    -moz-transition-property: color, border;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 0.35s;
    -webkit-transition-property: color, border;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0.35s;
    transition-property: color, border;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.ctrl:not([disabled]):hover,
.ctrl:not([disabled]):active,
.ctrl:not([disabled]):focus {
    cursor: pointer;
}

.component {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.component svg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 40;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.component.branch > .wire {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 100% 0 100% 0;
}

.component.branch > .components {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: -100% 0 0 100%;
}

.component > .property {
    position: absolute;
    z-index: 100;
    color: #999;
    font-weight: bold;
    font-size: 8pt;
    line-height: 8pt;
    padding: 1px 2px;
    margin: 0;
}

.component > .property.remove {
    display: none;
    z-index: 500;
    top: 2px;
    right: 2px;
}

.component.placeholder > .property.v,
.component.placeholder > .property.i,
.component.earth > .property.v,
.component.earth > .property.i,
.component.branch > .property.v,
.component.branch > .property.i {
    display: none;
}

.component.series > .property.value {
    top: 32%;
    left: 0;
    right: 0;
    text-align: center;
}

.component.v.series > .property.value {
    top: 37%;
}

.component.c.series > .property.value {
    top: 42%;
}

.component.xline > .property.value {
    top: 20%;
}

.component.xformer > .property.value {
    top: 5%;
}

.component.shunt > .property.value {
    top: 43%;
    left: 58%;
    text-align: left;
}

.component.i.shunt > .property.value,
.component.c.shunt > .property.value {
    top: 27%;
}

.component.v > .property.value:after {
    content: "V";
}

.component.i > .property.value:after {
    content: "A";
}

.component.r > .property.value:after,
.component.z > .property.value:after {
    content: "Ω";
}

.component.l > .property.value:after {
    content: "H";
}

.component.c > .property.value:after {
    content: "F";
}

.component.xformer > .property.value:after {
    content: ": 1";
}

.component.xformer > .property.value > .prefix {
    margin-left: -2px;
    margin-right: 2px;
}

.component > .property > .mag,
.component > .property > .ang {
    padding: 1px 0;
}

.component > .property input {
    display: none;
    background: white;
    height: calc(8pt + 4px);
    width: 0px;
    outline: none;
    border: 1px solid #FF8C00;
    border-radius: 4px;
    padding: 1px;
    margin-top: -2px;
}

.component > .property input[readonly] {
    border-color: #999;
}

.component > .property.v {
    top: 80%;
    left: 0%;
}

.component > .property.v:after {
    content: "V";
}

.component > .property.i {
    top: 92%;
    left: 0%;
}

.component > .property.i:after {
    content: "A";
}

#toolbar {
    position: relative;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
    border: none;
    padding: 0;
    margin: 0;
}

#toolbar > .tools {
    overflow: hidden;
    padding: 0;
    margin: 0 50px 0 50px;
}

@media (max-width: 768px) {
    #toolbar > .tools {
        overflow-x: scroll;
        padding: 0;
        margin: 0;
    }
}

#toolbar > .tools > .tool {
    display: inline-block;
    position: relative;
    height: 70px;
    width: 70px;
    margin: 2px;
    padding: 4px;
    border: 1px solid #DDD;
    border-radius: 4px;
    overflow: hidden;
}

@media (max-width: 768px) {
    #toolbar > .tools > .tool {
        height: 60px;
        width: 60px;
    }
}

#toolbar > .tools > .tool:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#toolbar > .tools > .tool > .component {
    height: 100%;
    width: 100%;
}

#toolbar > .tools > .tool > .component.branch {
    height: 200%;
}

#toolbar > .tools > .tool > .component .property {
    display: none;
}

#toolbar > .left,
#toolbar > .right {
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
}

#toolbar > .left {
    left: 0;
}

#toolbar > .right {
    right: 0;
}

#toolbar > .left > span,
#toolbar > .right > span {
    display: table;
    height: 100%;
    width: 100%;
}

#toolbar > .left > span > *,
#toolbar > .right > span > * {
    display: table-cell;
    vertical-align: middle;
}

.schematics {
    height: calc(100% - 84px);
    font-size: 0px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 4px;
    overflow: auto;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .schematics {
        height: 100%;
        margin: 0;
    }

    .schematics.small{
        height: calc(100% - 89px);
        margin-top: 10px;
    }
}

.schematics .component {
    height: 90px;
    width: 90px;
}

.schematics .component.placeholder {
    border: 1px dashed transparent;
}

.schematics .component:hover > .property.remove,
.schematics .component:active > .property.remove,
.schematics .component:focus > .property.remove,
.schematics .component.active > .property.remove {
    display: inline-block;
}

.schematics .component:after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 4px;
    border: 1px dashed transparent;
}

.schematics .component:not(.placeholder):not(.earth):not(.branch):after {
    content: "";
    background-image: url("../icons/overlay.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.schematics .component.active {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        color: #FF8C00;
        border-color: #FF8C00;
    }
}
