html, body {
    height:100%;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

#content {
    height: 100%;
    margin-bottom: -60px;
    padding-top: 77px;
    padding-bottom: 60px;
}

#footer {
    height: 40px;
    padding: 10px 0px;
    margin-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
}

.social-btns {
    padding: 0;
    margin: 0;
}

.social-btns .social-btn {
    display: inline-block;
    margin: 0;
}

.github-btn {
    overflow: hidden;
    border: 0px none;
}

.row {
    height: 100%;
}

[class*='col-'] {
    height: 100%;
}

a:hover, a:active, a:focus {
    text-decoration: initial;
}

.component {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.component.fixed {
    cursor: initial;
}

.component.v.series {
    background-image: url("../icons/v_series.svg");
}

.component.i.shunt {
    background-image: url("../icons/i_shunt.svg");
}

.component.r.series {
    background-image: url("../icons/r_series.svg");
}

.component.r.shunt {
    background-image: url("../icons/r_shunt.svg");
}

.component.l.series {
    background-image: url("../icons/l_series.svg");
}

.component.l.shunt {
    background-image: url("../icons/l_shunt.svg");
}

.component.c.series {
    background-image: url("../icons/c_series.svg");
}

.component.c.shunt {
    background-image: url("../icons/c_shunt.svg");
}

.component.z.series {
    background-image: url("../icons/z_series.svg");
}

.component.z.shunt {
    background-image: url("../icons/z_shunt.svg");
}

.component.xformer.series {
    background-image: url("../icons/xformer.svg");
}

.component.xline.series {
    background-image: url("../icons/xline.svg");
}

.component.earth {
    background-image: url("../icons/earth.svg");
}

.component.branch {
    background-image: url("../icons/branch_series.svg"), url("../icons/branch_shunt.svg");
    background-position: left top, left bottom;
    background-repeat: no-repeat, no-repeat;
}

.component > .property {
    position: absolute;
    z-index: 100;
    color: #999;
    font-weight: bold;
    padding: 1px 2px 1px 2px;
    margin: 0;
}

.component > .property.remove {
    display: none;
    z-index: 500;
}

.component > .property.remove {
    top: 2px;
    right: 2px;
}

.component > .property.value {
    font-size: 8pt;
    line-height: 8pt;
    width: 100%;
}

.component.series > .property.value {
    top: 32%;
    left: 0;
    text-align: center;
}

.component.v.series > .property.value {
    top: 37%;
}

.component.c.series > .property.value {
    top: 42%;
}

.component.xline > .property.value {
    top: 20%;
}

.component.xformer > .property.value {
    top: 5%;
}

.component.shunt > .property.value {
    top: 43%;
    left: 58%;
    text-align: left;
}

.component.i.shunt > .property.value,
.component.c.shunt > .property.value {
    top: 27%;
}

.component.v > .property.value:after {
    content: "V";
}

.component.i > .property.value:after {
    content: "A";
}

.component.r > .property.value:after,
.component.z > .property.value:after {
    content: "Ω";
}

.component.l > .property.value:after {
    content: "H";
}

.component.c > .property.value:after {
    content: "F";
}

.component.xformer > .property.value:after {
    content: ": 1";
}

.component .ctrl:hover,
.component .ctrl:active,
.component .ctrl:focus {
    color: #FF9933;
}

.component > .property.value > .ctrl > input {
    display: none;
    background: white;
    height: calc(8pt + 4px);
    width: 100%;
    color: #FF9933;
    outline: none;
    border: 1px solid #FF9933;
    border-radius: 4px;
    padding: 1px;
    margin-top: -2px;
}

.toolbar {
    position: relative;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
}

.toolbar > .tools {
    overflow-x: scroll;
    padding: 0;
    margin: 0;
}

.toolbar > .tools > .tool {
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    margin: 2px;
    padding: 4px;
    border: 1px solid #DDD;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.toolbar > .tools > .tool[disabled] {
    cursor: initial;
    background-color: #D3D3D3;
    border-color: #D3D3D3;

}

.toolbar > .tools > .tool:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toolbar > .tools > .tool:not([disabled]):hover,
.toolbar > .tools > .tool:not([disabled]):active,
.toolbar > .tools > .tool:not([disabled]):focus {
    background-color: #D9EDF7;
    border-color: #D9EDF7;
}

.toolbar > .tools > .tool > .component {
    height: 100%;
    width: 100%;
}

.toolbar > .tools > .tool > .component.branch {
    height: 200%;
}

.toolbar > .tools > .tool > .component > .property {
    display: none;
}

.toolbar > .left,
.toolbar > .right {
    position:absolute;
    width: 50px;
    top: 0;
    bottom: 0;
}

.toolbar > .left {
    left: 0;
}

.toolbar > .right {
    right: 0;
}

.toolbar > .left > span,
.toolbar > .right > span {
    display: table;
    height: 100%;
    width: 100%;
}

.toolbar > .left > span > *,
.toolbar > .right > span > * {
    display: table-cell;
    vertical-align: middle;
}

.schematics {
    height: calc(100% - 10px);
    font-size: 0px;
    margin: 10px 0 0 0;
    border: 1px solid #DDD;
    border-radius: 4px;
    overflow: auto;
    white-space: nowrap;
}

.schematics .component {
    height: 90px;
    width: 90px;
}

.schematics .component:hover,
.schematics .component:active,
.schematics .component:focus {
    background-color: #D9EDF7;
}

.schematics .component.branch:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 100% 0 100% 0;
    background: url("../icons/wire.svg") center center repeat-y;
    background-size: 100% auto;
}

.schematics .component.branch > .components {
    display: inline-block;
    position: absolute;
    top: 100%;
    margin: -100% 0 0 100%;
}

.schematics .component.active {
    border-radius: 4px;
    background-color: #D9EDF7;
    animation: blinker 1s linear infinite;
}

.schematics .component:hover > .property.remove,
.schematics .component:active > .property.remove,
.schematics .component:focus > .property.remove,
.schematics .component.active > .property.remove {
    display: inline-block;
}

@keyframes blinker {
    50% { background-color: white; }
}

@media (min-width: 768px) {
    #content {
        padding-top: 60px;
    }

    .schematics {
        height: calc(100% - 84px);
    }

    .toolbar > .tools {
        overflow: hidden;
        padding: 0;
        margin: 0 50px 0 50px;
    }

    .toolbar > .tools > .tool {
        height: 70px;
        width: 70px;
    }
}
