@import '~sassdash/index';
@import '~sass-svg/index';

@mixin circle($color, $r, $cx, $cy) {
    @include svg('circle', (
        r: $r,
        cx: $cx,
        cy: $cy,
        fill: none,
        stroke: $color,
        stroke-width: 40,
        stroke-linejoin: round
    ));
}

@mixin shape($color, $path) {
    @include svg('path', (
        fill: $color,
        d: $path
    ));
}

@mixin frame($color, $path) {
    @include svg('path', (
        fill: none,
        stroke: $color,
        stroke-width: 40,
        stroke-linejoin: round,
        d: $path
    ));
}

@mixin ground-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M1500 2666L1500 2333M1166 2666L1833 2666M1266 2777L1744 2777M1332 2888L1666 2888M3000 2333L1500 2333 1500 666 3000 666');
    }
}

@mixin vsrc-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M0 667L1166 666M0 2333L3000 2333M1833 666L3000 667M1499 999C1438 999 1386 985 1333 954 1279 924 1241 886 1211 833 1180 779 1166 727 1166 666 1166 605 1180 553 1211 500 1241 446 1279 408 1332 378 1386 347 1438 333 1499 333 1560 333 1612 347 1665 378 1719 408 1757 446 1787 499 1818 553 1832 605 1832 666 1832 727 1818 779 1787 832 1757 886 1719 924 1666 954 1612 985 1560 999 1499 999L1499 999z');
        @include frame($color, 'M1277 666C1277 666 1335 555 1387 555 1492 555 1505 776 1610 777 1662 776 1721 665 1721 665M1832 417L1999 417M1915 500L1915 333M1833 417L2000 417M1832 417L1999 417M1915 500L1915 333M1833 417L2000 417');
    }
}

@mixin isrc-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M0 667L3000 667M1500 1166L1500 667M0 2333L3000 2333M1500 2333L1500 1833M1500 1833C1439 1833 1387 1819 1334 1788 1280 1758 1242 1720 1212 1667 1181 1613 1167 1561 1167 1500 1167 1439 1181 1387 1212 1334 1242 1280 1280 1242 1333 1212 1387 1181 1439 1167 1500 1167 1561 1167 1613 1181 1666 1212 1720 1242 1758 1280 1788 1333 1819 1387 1833 1439 1833 1500 1833 1561 1819 1613 1788 1666 1758 1720 1720 1758 1667 1788 1613 1819 1561 1833 1500 1833L1500 1833zM1500 1750L1500 1428');
        @include shape($color, 'M 1584,1426 L 1509,1257 1505,1252 1500,1250 1495,1252 1491,1256 1416,1426 1415,1428 1415,1430 1416,1433 1418,1437 1421,1439 1424,1440 1576,1440 1579,1439 1583,1437 1584,1433 1585,1430 1585,1428 1584,1426 Z');
    }
}

@mixin impedance-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M0 667L1000 667M0 2333L3000 2333M2000 667L3000 667M2000 667L2000 833 1000 833 1000 500 2000 500 2000 667z');
    }
}

@mixin admittance-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M0 667L3000 667M1500 1000L1500 667M0 2333L3000 2333M1500 2000L1333 2000 1333 1000 1666 1000 1666 2000 1500 2000zM1500 2333L1500 2000');
    }
}

@mixin xformer-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M1833 2001c0-11.0557-171-58-170-109 1.0196-51.9996 87-110 166-110 78 0 196 63 166 110-21 33-119 19-166 0-106-43-187-139-166-220 12-50 88-109 167-109 78 0 195 62 165 110-20 33-119 19-166-1-106-42-187-137-167-218 13-52 88-110 168-110 77 0 195 62 165 110-20 33-119 19-165 0-107-43-188-138-168-219 13-51 88-110 167-110 79 0 197 63 167 110-21 33-120 19-167 0-74-31-189-122-162-220 30-36 166-2.2609 166-14m-267 996V997m267 4V667H3000M1833 2001v333h1167M1167.005 2001c0-11.0557 171-58 170-109-1.0196-51.9996-87-110-166-110-78 0-196.00078 63-166 110 21 33 119 19 166 0 106-43 187-139 166-220-12-50-88-109-167-109-78 0-195.00078 62-165 110 20 33 119 19 166-1 106-42 187-137 167-218-13-52-88-110-168-110-77 0-195.00078 62-165 110 20 33 119 19 165 0 107-43 188-138 168-219-13-51-88-110-167-110-79 0-197.00078 63-167 110 21 33 120 19 167 0 74-31 189-122 162-220-30-35.99997-166-2.2609-166-14m267 996V997.00003m-267 3.99997V667H.00427339M1167.005 2001v333H.00427339');
    }
}

@mixin xline-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M3000 2334H2666V1667H2484.6834M3000 667h-334v667h-179.0694');
        @include frame($color, 'M 500,1500 C 500,1683 551,1834 612,1834 L 2388,1834 C 2449,1834 2501,1683 2501,1500 2501,1318 2449,1166 2388,1166 L 612,1166 C 551,1166 500,1318 500,1500 L 500,1500 Z');
        @include frame($color, 'M 500,1500 C 500,1683 551,1834 612,1834 674,1834 725,1683 725,1500 725,1318 674,1166 612,1166 551,1166 500,1318 500,1500 L 500,1500 Z');
        @include frame($color, 'M0 2334L333 2334 333 1667 593 1667M0 667L333 667 333 1334 593 1334');
    }
}

@mixin shunt-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M0 667L3000 667M0 2333L3000 2333M666 666L1703 3000M666 2333L962 3000');
        @include shape($color, 'M674 752C658 752 645 748 632 741 618 733 609 724 601 710 594 697 590 684 590 669 590 653 594 640 601 627 609 613 618 604 632 596 645 589 658 585 674 585 689 585 702 589 715 596 729 604 738 613 746 627 753 640 757 653 757 668 757 684 753 697 746 710 738 724 729 733 715 741 702 748 689 752 674 752L674 752zM674 2426C658 2426 645 2422 632 2415 618 2407 609 2398 601 2384 594 2371 590 2358 590 2343 590 2327 594 2314 601 2301 609 2287 618 2278 632 2270 645 2263 658 2259 674 2259 689 2259 702 2263 715 2270 729 2278 738 2287 746 2301 753 2314 757 2327 757 2343 757 2358 753 2371 746 2384 738 2398 729 2407 715 2415 702 2422 689 2426 674 2426L674 2426z');
    }
}

@mixin wire-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M962 2L962 3002M1703 2L1703 3002');
    }
}

@mixin knee-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M1704 0L2001 665 3000 666M965 0L2000 2333 3000 2333');
    }
}

@mixin connector-svg($color) {
    @include svg((viewBox: 0 0 3000 3000)) {
        @include frame($color, 'M0 667l608-1M0 2333h608');
        @include circle($color, 60, 666, 666);
        @include circle($color, 60, 666, 2333);
    }
}
