i {
    width: 1em;
    height: 1em;
    display: inline-block;
}

i.x125 {
    width: 1.25em;
    height: 1.25em;
}

i.x250 {
    width: 2.5em;
    height: 2.5em;
}

.icon {
    background-color: currentcolor;
    mask-repeat: no-repeat;
}

.github {
    @extend .icon;
    mask-image: url('./icons/github.svg');
}

.ground {
    @extend .icon;
    mask-image: url('./icons/ground.svg');
}
