$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 576px,
  lg: 768px,
  xl: 992px
);

$colors: (
  'highlight': hsl(40, 100%, 55%),
);

$theme-colors: (
  'primary': lighten(map-get($colors, 'highlight'), 15%),
);

$transition-base: all 0.15s ease-in-out;

$navbar-padding-y: 0.75rem;

$nav-link-padding-x: 0;
$nav-link-padding-y: 0;

$navbar-nav-link-padding-x: 0;

$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;

$modal-header-padding: 0;
$modal-footer-border-width: 0;

@import '~bootstrap/scss/bootstrap';

@mixin transition($properties...) {
  transition: $transition-base;
  @if length($properties) != 0 {
    transition-property: $properties;
  }
}

$tile-size: 6rem;

%angle {
  content: '∠';
}

%degree {
  content: '°';
}

%cross {
  @extend .d-block;
  @include size(1em);

  content: '\d7';

  font-weight: bold;
  line-height: 1em;
  text-align: center;
}

%element {
  stroke-width: 45;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: currentColor;
  fill: none;
}

.flex-grow {
  flex-grow: 1 !important;
}

html,
body {
  @extend .d-flex, .flex-column, .h-100;

  font-size: 12px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}

header {
  @extend .navbar, .navbar-expand-md, .navbar-dark, .bg-dark;

  > .brand {
    @extend .navbar-brand;
  }

  > nav {
    @extend .navbar-nav, .d-flex, .flex-row, .my-auto, .ml-auto;

    .github {
      @extend .nav-link;

      line-height: 0;

      .label {
        @extend .d-none, .d-md-inline-block;

        margin-right: 0.5ch;
      }

      svg {
        @include size(2rem);

        fill: currentcolor;

        @include media-breakpoint-up(md) {
          @include size(1.25rem);
          vertical-align: text-bottom;
        }
      }
    }

    .toggler {
      @extend .navbar-toggler, .ml-3;

      &::after {
        @extend .navbar-toggler-icon;
      }
    }
  }
}

main {
  @extend .container-fluid, .d-flex, .flex-column, .flex-grow;

  > .row {
    @extend .d-flex, .flex-grow;

    > .col {
      @extend .d-flex, .flex-column, .flex-grow, .py-3;
    }
  }
}

footer {
  @extend .container-fluid, .d-flex, .flex-row, .align-items-center, .justify-content-center, .mb-3;

  > .row {
    @extend .flex-grow;

    &::before {
      @extend .col-4, .d-none, .d-md-flex;

      content: '';
    }

    > nav {
      @extend .col-12, .col-sm-8, .col-md-4, .d-flex, .justify-content-md-center, .align-items-center;

      .github-btn {
        width: 90px;
        height: 20px;
      }
    }

    > .copyright {
      @extend .col-4, .d-none, .d-sm-inline-block, .text-right, .text-muted, .text-nowrap;

      @include media-breakpoint-up(md) {
        font-size: 0.9rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 0.8rem;
      }

      &::before {
        content: '©';
      }

      .year {
        @extend .d-none, .d-md-inline-block;
      }
    }
  }
}

.toolbox,
.schematics {
  overflow: auto;
  font-size: 0;
  white-space: nowrap;
}

.toolbox {
  @extend .d-none, .d-md-flex, .pb-1, .mb-2;

  &.show {
    @extend .d-flex;
  }

  > .toolbar {
    @extend .d-flex, .flex-row, .mx-auto;

    > .tool {
      @extend %element, .p-1, .rounded;
      @include transition(color, border-color);
      @include size(0.75 * $tile-size);

      position: relative;
      border: 1px solid $border-color;
      cursor: pointer;

      &:hover,
      &:focus {
        border-color: color('highlight');
        outline: none;
        color: color('highlight');
      }

      +.tool {
        @extend .ml-1;
      }
    }
  }
}

.schematics {
  @extend .d-flex, .flex-grow, .border, .rounded, .p-3;

  flex-basis: 0;

  .tile {
    @extend %element;

    @include transition(color);
    @include size($tile-size);

    display: inline-block;
    position: relative;
    outline: none;
    vertical-align: top;

    &.connector::after {
      @extend .rounded;
      @include transition(border-color);

      content: '';
      position: absolute;
      top: 10%;
      right: 10%;
      bottom: 10%;
      left: 10%;
      border: 0.15rem dashed transparent;
    }

    &.ground {
      margin-left: -$tile-size;
    }

    &.series {
      margin-left: $tile-size;
    }

    &.shunt {
      @extend .d-flex;
      @extend .flex-column;

      height: auto;
      margin-bottom: -$tile-size;
    }

    &.interactive {
      cursor: pointer;
    }

    &.active,
    &.interactive:focus,
    &.interactive:hover {
      color: color('highlight');
    }

    &.active.connector::after,
    &.interactive.connector:focus::after,
    &.interactive.connector:hover::after {
      border-color: color('highlight');
    }

    &.active,
    &.active.connector::after {
      animation: blinking 1s ease-in-out infinite;
    }

    > .control {
      color: theme-color('secondary');
      cursor: pointer;

      &:focus,
      &:hover {
        outline: none;
        color: color('highlight');
      }
    }

    > .remove {
      @include transition(opacity);

      position: absolute;
      top: 0;
      right: 0;

      &::after {
        @extend %cross;

        font-size: 1rem;
      }
    }

    &:not(:hover, :focus) > .control.remove:not(:focus) {
      opacity: 0;
    }

    > .value {
      @extend .d-flex, .justify-content-center;

      position: absolute;
      right: 0;
      left: 0;
      font-size: 0.7rem;
      font-weight: bold;
      line-height: 1.2;
    }

    &.vsrc > .value,
    &.impedance > .value {
      top: 36%;
    }

    &.line > .value.y {
      top: 67%;
    }

    &.isrc > .value,
    &.admittance > .value,
    &.xformer > .value,
    &.line > .value.z {
      top: 82%;
    }
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
    color: unset;
  }
}

.quantity {
  > .ang {
    &::before {
      @extend %angle;
    }

    &::after {
      @extend %degree;
    }
  }

  > .prefix {
    margin: 0 -0.3ch 0 0.3ch;
  }

  > .unit {
    margin-left: 0.3ch;
  }

  > .prefix:not(.mono) + .unit.ratio {
    padding-left: 0.4ch;
  }
}

.prefix {
  &.femto::after {
    content: 'f';
  }

  &.pico::after {
    content: 'p';
  }

  &.nano::after {
    content: 'n';
  }

  &.micro::after {
    content: 'μ';
  }

  &.milli::after {
    content: 'm';
  }

  &.kilo::after {
    content: 'k';
  }

  &.mega::after {
    content: 'M';
  }

  &.giga::after {
    content: 'G';
  }

  &.tera::after {
    content: 'T';
  }

  &.peta::after {
    content: 'P';
  }
}

.unit {
  &.volt::after {
    content: 'V';
  }

  &.ampere::after {
    content: 'A';
  }

  &.ohm::after {
    content: 'Ω';
  }

  &.ratio::before {
    content: ':';
    margin-right: 0.3ch;
  }

  &.ratio::after {
    content: '1';
  }

  &.degree::after {
    @extend %degree;
  }
}

.symbol {
  &.angle::after {
    @extend %angle;
  }
}

.modal {
  .modal-header {
    padding-bottom: 0.5rem;

    .modal-title {
      text-transform: capitalize;
    }

    .close {
      &::after {
        @extend %cross;
      }

      &:focus,
      &:hover {
        outline: none;
        color: color('highlight');
      }
    }
  }

  .modal-content {
    padding: $modal-inner-padding;

    .modal-body {
      @extend .d-flex, .align-items-center, .px-0;

      min-height: 6rem;
    }
  }

  .modal-footer {
    @extend .p-0;

    .btn {
      min-width: 15%;
    }
  }
}

.modal,
.modal-backdrop {
  @extend .fade, .d-block, .invisible;

  transition-property: visibility, opacity;

  &.show {
    @extend .visible;
  }
}
