<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='author' content='Bruno Dutra'>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83817633-3', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header class='navbar navbar-expand-md navbar-dark bg-dark'>
      <span class='navbar-brand'><%= htmlWebpackPlugin.options.title %></span>
      <ul class='navbar-nav d-flex flex-row my-auto ml-auto'>
        <li class='nav-item'>
          <a class='nav-link line-height-0 p-0' aria-label='View on GitHub' href='https://github.com/brunocodutra/steady'>
            <span class='d-none d-md-inline-block'>View on GitHub&nbsp;</span>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' class='github'>
              <path d='M8,0 C3.58,0 0,3.58 0,8 C0,11.54 2.29,14.53 5.47,15.59 C5.87,15.66 6.02,15.42 6.02,15.21 C6.02,15.02 6.01,14.39 6.01,13.72 C4,14.09 3.48,13.23 3.32,12.78 C3.23,12.55 2.84,11.84 2.5,11.65 C2.22,11.5 1.82,11.13 2.49,11.12 C3.12,11.11 3.57,11.7 3.72,11.94 C4.44,13.15 5.59,12.81 6.05,12.6 C6.12,12.08 6.33,11.73 6.56,11.53 C4.78,11.33 2.92,10.64 2.92,7.58 C2.92,6.71 3.23,5.99 3.74,5.43 C3.66,5.23 3.38,4.41 3.82,3.31 C3.82,3.31 4.49,3.1 6.02,4.13 C6.66,3.95 7.34,3.86 8.02,3.86 C8.7,3.86 9.38,3.95 10.02,4.13 C11.55,3.09 12.22,3.31 12.22,3.31 C12.66,4.41 12.38,5.23 12.3,5.43 C12.81,5.99 13.12,6.7 13.12,7.58 C13.12,10.65 11.25,11.33 9.47,11.53 C9.76,11.78 10.01,12.26 10.01,13.01 C10.01,14.08 10,14.94 10,15.21 C10,15.42 10.15,15.67 10.55,15.59 C13.71,14.53 16,11.53 16,8 C16,3.58 12.42,0 8,0 L8,0 Z' fill-rule='evenodd'/>
            </svg>
          </a>
        </li>
        <li class='nav-item' id='toggler'></li>
      </ul>
    </header>

    <div class='container-fluid d-flex flex-column flex-grow'>
      <div class='row d-flex flex-grow'>
        <div id='steady' class='col d-flex flex-column flex-grow py-3'>
        </div>
      </div>
    </div>

    <footer class='container-fluid d-flex flex-row align-items-center justify-content-center mb-3'>
      <div class='row flex-grow'>
        <div class='col-4 d-none d-md-flex'></div>

        <div class='col-12 col-sm-8 col-md-4 d-flex justify-content-md-center align-items-center'>
          <iframe class='github-btn' title='Star on GitHub' src='https://ghbtns.com/github-btn.html?user=brunocodutra&amp;repo=steady&amp;type=watch&amp;count=true' frameborder='0' scrolling='no'></iframe>
          <iframe class='github-btn' title='Fork on GitHub' src='https://ghbtns.com/github-btn.html?user=brunocodutra&amp;repo=steady&amp;type=fork&amp;count=true' frameborder='0' scrolling='no'></iframe>
        </div>

        <div class='col-4 d-none d-sm-flex justify-content-end align-items-center'>
          <span class='copyright text-muted text-nowrap'>
            &copy;
            <span class='d-none d-md-inline-block'>Copyright 2017 </span>
            <a href='https://github.com/brunocodutra'>Bruno Dutra</a>
          </span>
        </div>
      </div>
    </footer>

    <svg style='display: none'>
      <def>
        <filter id='glow'>
          <feGaussianBlur in='SourceGraphic' stdDeviation='5'/>
          <feComponentTransfer>
            <feFuncA type='linear' slope='0.2'/>
          </feComponentTransfer>
          <feMerge>
            <feMergeNode/>
            <feMergeNode in='SourceGraphic'/>
          </feMerge>
        </filter>
      </def>
    </svg>

    <script>
      // Copyright 2014-2017 The Bootstrap Authors
      // Copyright 2014-2017 Twitter, Inc.
      // Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.head.appendChild(msViewportStyle)
      }
    </script>
  </body>
</html>
