$grid-breakpoints: (
  xs: 0,
  sm: 240px,
  md: 576px,
  lg: 768px,
  xl: 992px,
  xxl: 1200px
);

$dark: #343a40;
$orange: #ffb31a;
$info: $orange;
$primary: lighten($info, 15%);
$body-color: $dark;

$spacer: 0.5rem;

$navbar-dark-color: $orange;
$navbar-dark-active-color: $navbar-dark-color;
$navbar-dark-toggler-border-color: transparent;
$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;
$navbar-nav-link-padding-x: 0;
$nav-link-padding-x: 0;
$nav-link-padding-y: 0;

$modal-header-padding-x: 0;

$tooltip-bg: $dark;
$tooltip-opacity: 1;
$tooltip-max-width: 100%;

@import '~bootstrap/scss/bootstrap';

@mixin transition($properties...) {
  transition: $transition-base;
  @if length($properties) > 0 {
    transition-property: $properties;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

$tile-size: 6rem;

%angle {
  content: '∠';
}

%degree {
  content: '°';
}

%cross {
  content: '\d7';
}

%interactive {
  cursor: pointer;

  &:focus,
  &:hover {
    @extend .text-info;

    outline: none;
  }
}

.fade {
  @extend .invisible;
  @include transition(visibility, opacity);

  &.show {
    @extend .visible;
  }
}

html,
body {
  @extend .d-flex, .flex-column, .h-100, .overflow-hidden, .text-nowrap;

  font-size: 12px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}

svg {
  vertical-align: unset;
}

header {
  @extend .navbar, .navbar-expand-md, .navbar-dark, .bg-dark, .fw-bold;

  nav {
    @extend .container-fluid;

    #navbar {
      @extend .navbar-nav, .ms-auto;
    }

    #toggler {
      @extend .navbar-toggler, .ms-2;
    }
  }
}

.brand {
  @extend .navbar-brand, .text-uppercase;

  img {
    @extend .d-inline-block, .align-top;
    @include size(2rem);
  }
}

.share {
  @extend .nav-link;

  line-height: 0;

  svg {
    @include size(1.5rem);
    @include transition(fill);

    fill: transparent;

    &:hover {
      fill: currentColor;
    }
  }
}

.copy {
  @extend .btn, .btn-outline-primary;
}

.toggler {
  @extend .navbar-toggler-icon;
}

main {
  @extend .container-fluid, .d-flex, .flex-column, .flex-grow-1, .my-3;

  > .row {
    @extend .flex-grow-1;

    > .col {
      @extend .d-flex, .flex-column;
    }
  }
}

footer {
  @extend .container-fluid, .mb-3;

  > .row {
    &::before {
      @extend .col-4, .d-none, .d-md-block;

      content: '';
    }

    .social {
      @extend .col-12, .col-sm-8, .col-md-4;
    }

    .copyright {
      @extend .col-4, .d-none, .d-sm-inline-block;
    }
  }
}

.social {
  @extend .text-md-center;

  line-height: 0;

  .button {
    @extend .d-inline-block, .border, .rounded-circle, .align-middle, .text-secondary, %interactive;
    @include transition(color, transform);
    @include size(1.5rem);

    border-color: currentColor !important;

    &:focus,
    &:hover {
      transform: rotate(360deg) scale(1.25);
    }

    +.button {
      @extend .ms-2;
    }
  }
}

.github {
  @extend .rounded-circle;
  background-color: currentColor;
  fill: $body-bg;
}

.star {
  margin: 15%;
  fill: currentcolor;
}

.copyright {
  @extend .text-muted, .text-end;
  @include font-size(1rem);

  &::before {
    content: '©';
  }
}

.interactive {
  @extend %interactive;
}

.toolbox {
  @extend .d-none, .d-md-block, .text-center, .mb-2, .overflow-auto;

  &.open {
    @extend .d-block;
  }
}

.tool {
  @extend .d-inline-block, .p-1, .border, .rounded;
  @include transition(color, border-color);
  @include size(calc(0.7 * $tile-size));

  &:hover,
  &:focus {
    @extend .border-info;
  }

  +.tool {
    @extend .ms-1;
  }
}

.schematics {
  @extend .d-flex, .flex-grow-1, .border, .rounded, .p-3, .overflow-auto;
}

.tile {
  @extend .position-relative, .d-inline-block, .align-top, .flex-shrink-0;

  @include transition(color);
  @include size($tile-size);

  &:hover,
  &.active {
    > .control.interactive.fade {
      visibility: visible !important; // .visibility
      opacity: 1 !important; // .show
    }
  }

  &.active {
    animation: blink 1s ease-in-out infinite;
    color: $info;
  }

  &.shunt {
    @extend .d-flex, .flex-column;

    height: auto;
    margin-bottom: -$tile-size;
  }

  &.branch {
    margin-left: $tile-size;
  }

  > .remove {
    top: 0;
    right: 0;
  }

  > .value {
    right: 0;
    left: 0;
  }

  &.vsrc > .value,
  &.impedance > .value {
    top: calc(0.36 * $tile-size);
  }

  &.line > .value.y {
    top: calc(0.67 * $tile-size);
  }

  &.isrc > .value,
  &.admittance > .value,
  &.xformer > .value,
  &.line > .value.z {
    top: calc(0.82 * $tile-size);
  }

  > .status {
    &.volt {
      top: calc(0.33 * $tile-size);
      left: 0;
      padding: 0 0.6rem 0 0;
    }

    &.ampere {
      top: calc(0.2 * $tile-size);
      left: 0;
      padding: 0.3rem 0;
    }

    &.tooltip {
      top: 0;
      left: calc(-0.25 * $tile-size);
    }
  }
}

.terminal {
  &::after {
    @extend .rounded, .position-absolute;
    @include transition(border-color);

    content: '';
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border: 0.15rem dashed transparent;
  }

  &.active::after,
  &:focus::after,
  &:hover::after {
    border-color: $info;
  }

  &.active::after {
    animation: blink 1s ease-in-out infinite;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
    color: unset;
  }
}

.control {
  @extend .position-absolute;

  color: $secondary;

  &.remove {
    @extend .lh-1;
    @include font-size(1.2rem);

    &::after {
      @extend %cross;
    }
  }

  &.value {
    @extend .d-inline-block, .text-center, .text-nowrap, .fw-bold, .lh-1, .user-select-none;
    @include font-size(0.7rem);
  }

  &.status {
    @include font-size(0);

    stroke: currentColor;

    &.volt,
    &.ampere {
      @include size(1rem, auto);
    }
  }
}

.tooltip {
  @extend .position-absolute, .fw-bold, .bs-tooltip-top, .p-0;
  @include font-size(0.7rem);

  > .tooltip-arrow {
    @extend .position-absolute;

    bottom: -$tooltip-arrow-height;
    left: calc(0.25 * $tile-size);
    margin-left: calc(-0.5 * $tooltip-arrow-width);
  }
}

.ang {
  &::before {
    @extend %angle;
  }

  &::after {
    @extend %degree;
  }
}

.prefix {
  &.femto::after {
    content: 'f';
  }

  &.pico::after {
    content: 'p';
  }

  &.nano::after {
    content: 'n';
  }

  &.micro::after {
    content: 'μ';
  }

  &.milli::after {
    content: 'm';
  }

  &.kilo::after {
    content: 'k';
  }

  &.mega::after {
    content: 'M';
  }

  &.giga::after {
    content: 'G';
  }

  &.tera::after {
    content: 'T';
  }

  &.peta::after {
    content: 'P';
  }
}

.unit {
  &.volt::after {
    content: 'V';
  }

  &.ampere::after {
    content: 'A';
  }

  &.ohm::after {
    content: 'Ω';
  }

  &.one::after {
    content: ' : 1';
  }

  &.degree::after {
    @extend %degree;
  }
}

.symbol {
  &.angle::after {
    @extend %angle;
  }
}

.modal,
.modal-backdrop {
  @extend .fade, .d-block;
}

.modal-header {
  .close {
    @extend .m-0, .lh-1;
    @include font-size(1.75rem);

    &::after {
      @extend %cross;
    }
  }
}

.modal-title {
  @extend .text-capitalize;
}

.modal-content {
  @extend .p-4;
}

.modal-body {
  @extend .d-flex, .align-items-center, .px-0;

  min-height: 5rem;
}

.modal-footer {
  .btn {
    min-width: 15%;
  }
}
