@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

i {
    width: 1em;
    height: 1em;
    display: inline-block;
}

i.x125 {
    width: 1.25em;
    height: 1.25em;
}

i.x250 {
    width: 2.5em;
    height: 2.5em;
}

.github-btn {
    height: 20px;
    width: 100px;
}

.interactive {
    cursor: pointer;
}

.board {
    font-size: 0;
    overflow: auto;
    white-space: nowrap;
}

.tile {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.tool {
    @extend .p-1;
    @extend .mr-1;
    @extend .tile;
    @extend .border;
    @extend .rounded;
    @extend .interactive;

    width: 4rem;
    height: 4rem;
}

.stretch {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.mask {
    background-color: currentcolor;
    mask-repeat: no-repeat;
}

.github {
    @extend .stretch;
    @extend .mask;
    mask-image: url('./icons/github.svg');
}

.ground {
    @extend .stretch;
    @extend .mask;
    mask-image: url('./icons/ground.svg');
}

.vsrc {
    @extend .stretch;
    @extend .mask;
    mask-image: url('./icons/vsrc.svg');
}

.isrc {
    @extend .stretch;
    @extend .mask;
    mask-image: url('./icons/isrc.svg');
}

.placeholder {
    @extend .stretch;
    @extend .border;
    @extend .rounded;
}

.blink {
    animation: blinker 1s ease infinite;
}

.blink:hover {
    animation: unset;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
