@import '~bootstrap/scss/bootstrap';

@import 'icons';

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.github-btn {
    height: 20px;
    width: 100px;
}

.board {
    font-size: 0;
    overflow: auto;
    white-space: nowrap;
}
