@import 'style/icons';
@import 'style/vendor';

$tile: 6rem;

* {
    flex-shrink: 0;
}

html {
    font-size: 12px;

    @include media-breakpoint-up(md) {
        font-size: 14px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a:focus, button:focus {
    @extend .focused;
}

.flex-grow {
    flex-grow: 1;
}

.line-height-0 {
    line-height: 0 !important;
}

.interactive {
    cursor: pointer;
}

.focused {
    @extend .rounded;

    outline: none !important;
    box-shadow: 0 0 0 $border-width $gray-400;

    &.tile {
        z-index: -1;
    }
}

.active {
    @extend .focused;

    background-color: rgba($gray-200, .5);
    animation: blinker 1s ease infinite;
}

@keyframes blinker {
    50% {
        background-color: unset;
    }
}

svg.github {
    width: 2.5rem;
    height: 2.5rem;
    fill: currentcolor;

    @include media-breakpoint-up(md) {
        width: 1.25rem;
        height: 1.25rem;
        vertical-align: text-bottom;
    }
}

.github-btn {
    height: 20px;
    width: 90px;
}

.copyright {
    @include media-breakpoint-up(md) {
        font-size: .9rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: .8rem;
    }
}

.board {
    font-size: 0;
    overflow: auto;
    flex-basis: 0;
    white-space: nowrap;
}

.tool {
    @extend .p-1;
    @extend .border;
    @extend .rounded;
    @extend .interactive;

    width: 0.75*$tile;
    height: 0.75*$tile;
    position: relative;

    &:hover, &:focus {
        outline: none !important;
        background-color: rgba($gray-200, .5);
    }

    +.tool {
        @extend .ml-1;
    }
}

.schematics {
    background-color: white;
}

.tile {
    width: $tile;
    height: $tile;
    position: relative;
    display: inline-block;
    vertical-align: top;

    &.interactive:focus {
        @extend .focused;
    }

}

.ground {
    @include ground-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.vsrc {
    @include vsrc-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.isrc {
    @include isrc-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.impedance {
    @include impedance-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.admittance {
    @include admittance-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.xformer {
    @include xformer-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.line {
    @include line-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.shunt {
    @include shunt-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;

    &.tile {
        height: auto;
        padding-bottom: $tile;
        margin-bottom: -$tile;

        &:after {
            @include wire-svg(#000);

            content: '';
            top: $tile;
            bottom: $tile;
            width: 100%;
            position: absolute;
            display: inline-block;
            background-repeat: repeat-y;
            background-origin: content-box;
        }
    }
}

.knee {
    @include knee-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
    z-index: -1;
}

.connector {
    @include connector-svg(#000);

    display: inline-block;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.value {
    @extend .d-flex;
    @extend .text-muted;
    @extend .justify-content-center;

    position: absolute;
    left: 0;
    right: 0;

    font-size: .7rem;
    font-weight: bold;
    line-height: 1em;
}

.vsrc, .impedance {
    .value {
        top: 40%;
    }
}

.isrc, .admittance, .xformer {
    .value {
        top: 85%;
    }
}

.line {
    .value {
        top: 80%;
    }
}

.phasor {
    .ang {
        &:before {
            content: '∠';
        }

        &:after {
            content: '°';
        }
    }
}

.unit {
    margin-left: 0.35em;

    &.volt:after {
        content: 'V';
    }

    &.ampere:after {
        content: 'A';
    }

    &.ohm:after {
        content: 'Ω';
    }

    &.ratio:after {
        content: ': 1';
    }
}

.prefix {
    margin: 0 -0.35em 0 0.35em;

    &.femto:after {
        content: 'f';
    }

    &.pico:after {
        content: 'p';
    }

    &.nano:after {
        content: 'n';
    }

    &.micro:after {
        content: 'μ';
    }

    &.milli:after {
        content: 'm';
    }

    &.kilo:after {
        content: 'k';
    }

    &.mega:after {
        content: 'M';
    }

    &.giga:after {
        content: 'G';
    }

    &.tera:after {
        content: 'T';
    }

    &.peta:after {
        content: 'P';
    }
}
