$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 576px,
  lg: 768px,
  xl: 992px
);

@import '~bootstrap/scss/bootstrap';

$tile-size: 6rem;
$transition-duration: 150ms;

$highlight-color: #ffa500;
$highlight-color-800: rgba($highlight-color, 0.8);
$highlight-color-200: rgba($highlight-color, 0.2);

html,
body {
  @extend .d-flex, .flex-column, .h-100;

  font-size: 12px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}

header {
  @extend .navbar, .navbar-expand-md, .navbar-dark, .bg-dark;

  > .brand {
    @extend .navbar-brand;
  }

  > nav {
    @extend .navbar-nav, .d-flex, .flex-row, .my-auto, .ml-auto;

    .github {
      @extend .nav-link, .p-0;

      line-height: 0;

      .label {
        @extend .d-none, .d-md-inline-block;

        margin-right: 0.5ch;
      }

      svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: currentcolor;

        @include media-breakpoint-up(md) {
          width: 1.25rem;
          height: 1.25rem;
          vertical-align: text-bottom;
        }
      }
    }

    .toggler {
      @extend .navbar-toggler, .p-1, .ml-3;

      &::after {
        @extend .navbar-toggler-icon;
      }
    }
  }
}

main {
  @extend .container-fluid, .d-flex, .flex-column;

  flex-grow: 1;

  > .row {
    @extend .d-flex;

    flex-grow: 1;

    > .col {
      @extend .d-flex, .flex-column, .py-3;

      flex-grow: 1;
    }
  }
}

footer {
  @extend .container-fluid, .d-flex, .flex-row, .align-items-center, .justify-content-center, .mb-3;

  > .row {
    flex-grow: 1;

    &::before {
      @extend .col-4, .d-none, .d-md-flex;

      content: '';
    }

    > nav {
      @extend .col-12, .col-sm-8, .col-md-4, .d-flex, .justify-content-md-center, .align-items-center;

      .github-btn {
        width: 90px;
        height: 20px;
      }
    }

    > .copyright {
      @extend .col-4, .d-none, .d-sm-inline-block, .text-right, .text-muted, .text-nowrap;

      @include media-breakpoint-up(md) {
        font-size: 0.9rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 0.8rem;
      }

      &::before {
        content: '©';
      }

      .year {
        @extend .d-none, .d-md-inline-block;
      }
    }
  }
}

.toolbox,
.schematics {
  overflow: auto;
  font-size: 0;
  white-space: nowrap;
}

.toolbox {
  @extend .d-none, .d-md-flex, .pb-1, .mb-2;

  &.show {
    @extend .d-flex;
  }

  > .toolbar {
    @extend .d-flex;
    @extend .flex-row;
    @extend .mx-auto;

    > .tool {
      @extend .p-1;
      @extend .rounded;

      position: relative;
      width: 0.75 * $tile-size;
      height: 0.75 * $tile-size;
      transition-property: color, border-color;
      transition-duration: $transition-duration;
      transition-timing-function: ease-in-out;
      border: 1px solid $border-color;
      cursor: pointer;

      &:hover,
      &:focus {
        border-color: $highlight-color-800;
        outline: none;
        color: $highlight-color;
      }

      +.tool {
        @extend .ml-1;
      }
    }
  }
}

.schematics {
  @extend .d-flex, .border, .rounded, .p-3;

  flex-basis: 0;
  flex-grow: 1;

  .tile {
    display: inline-block;
    position: relative;
    width: $tile-size;
    height: $tile-size;
    transition: color ease-in-out $transition-duration;
    outline: none;
    vertical-align: top;

    &.connector::after {
      @extend .rounded;

      content: '';
      position: absolute;
      top: 10%;
      right: 10%;
      bottom: 10%;
      left: 10%;
      transition: border-color ease-in-out $transition-duration;
      border: 0.15rem dashed transparent;
    }

    &.ground {
      margin-left: -$tile-size;
    }

    &.series {
      margin-left: $tile-size;
    }

    &.shunt {
      @extend .d-flex;
      @extend .flex-column;

      height: auto;
      margin-bottom: -$tile-size;
    }

    &.interactive {
      cursor: pointer;
    }

    &.active,
    &.interactive:focus,
    &.interactive:hover {
      color: $highlight-color;
      filter: url('#glow');
    }

    &.active.connector::after,
    &.interactive.connector:focus::after,
    &.interactive.connector:hover::after {
      border-color: $highlight-color-800;
      filter: drop-shadow(0 0 0.2rem $highlight-color-200);
    }

    &.active,
    &.active.connector::after {
      animation: blinking 1s ease-in-out infinite;
    }

    > .control {
      transition: opacity ease-in-out $transition-duration;
      color: $gray-600;
      cursor: pointer;

      &:focus,
      &:hover {
        outline: none;
        color: $highlight-color;
      }
    }

    &.active > .control {
      @extend .d-none;
    }

    &.interactive:not(:hover, :focus) > .control:not(:focus) {
      opacity: 0;
    }

    > .remove {
      position: absolute;
      top: 0.1rem;
      right: 0;
      width: 0.9rem;
      height: 0.9rem;
      padding: 0.2rem;
    }

    > .value {
      @extend .d-flex, .text-muted, .justify-content-center;

      position: absolute;


      font-size: 0.7rem;
      font-weight: bold;
      line-height: 1.2;
    }

    &.vsrc > .value,
    &.impedance > .value {
      top: 35%;
      right: 0;
      left: 0;
    }

    &.isrc > .value,
    &.admittance > .value,
    &.xformer > .value {
      top: 82%;
      right: 0;
      left: 0;
    }

    &.line > .value {
      top: 69%;
      left: 20%;

      > * {
        @extend .d-flex, .flex-column;
      }
    }
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
    color: unset;
  }
}

.phasor {
  > .ang {
    &::before {
      content: '∠';
      font-size: 0.8em;
    }

    &::after {
      content: '°';
    }
  }
}

.unit {
  margin-left: 0.3ch;

  &.volt::after {
    content: 'V';
  }

  &.ampere::after {
    content: 'A';
  }

  &.ohm::after {
    content: 'Ω';
  }

  &.ratio::after {
    content: ': 1';
  }
}

.prefix {
  margin: 0 -0.35em 0 0.35em;

  &.femto::after {
    content: 'f';
  }

  &.pico::after {
    content: 'p';
  }

  &.nano::after {
    content: 'n';
  }

  &.micro::after {
    content: 'μ';
  }

  &.milli::after {
    content: 'm';
  }

  &.kilo::after {
    content: 'k';
  }

  &.mega::after {
    content: 'M';
  }

  &.giga::after {
    content: 'G';
  }

  &.tera::after {
    content: 'T';
  }

  &.peta::after {
    content: 'P';
  }
}
